# Secrets
.env
.env*
ECHO is on.
# Python
__pycache__/
*.py[cod]
*.safetensors
ECHO is on.
# Jupyter
.ipynb_checkpoints/
ECHO is on.
# System
.DS_Store
ECHO is on.
# IGNORE EVERYTHING OUTSIDE THIS FOLDER
/*
!/.gitignore
!/README.md
!/app.py
!/requirements.txt
!/*.ipynb
